function KnightDrawer.draw 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 0
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 832
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 1824
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 1808
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 3880
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 3332
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 6402
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 4361
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 287
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 304
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 288
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 288
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 288
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 16191
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 8193
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 16383
call Memory.poke 2
pop temp 0
push constant 0
return
function KnightDrawer.erase 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
