function Main.main 1
call SudokuBoard.new 0
pop local 0
push local 0
call SudokuBoard.fillSingleBlock 1
pop temp 0
push local 0
call SudokuBoard.drawSingleBlockFrame 1
pop temp 0
push local 0
call SudokuBoard.checkBoard 1
pop temp 0
push constant 0
return
